.game-instance{
	display: grid;
	grid-template-rows: repeat(3,1fr);
	grid-template-columns: repeat(3,1fr);
	border: 1px solid black;
	height: 200px;
	width: 200px;
}

.game-tile{
	text-align: center;
}

.lit{
	background: green;
}

.dim{
	background: red;
}